@font-face {
  font-family: 'inconsolata';
  src: url('/fonts/inconsolata-regular-webfont.eot');
  src: url('/fonts/inconsolata-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/inconsolata-regular-webfont.woff2') format('woff2'),
         url('/fonts/inconsolata-regular-webfont.woff') format('woff'),
         url('/fonts/inconsolata-regular-webfont.ttf') format('truetype'),
         url('/fonts/inconsolata-regular-webfont.svg#inconsolataregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'inconsolata';
  src: url('/fonts/inconsolata-bold-webfont.eot');
  src: url('/fonts/inconsolata-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/inconsolata-bold-webfont.woff2') format('woff2'),
         url('/fonts/inconsolata-bold-webfont.woff') format('woff'),
         url('/fonts/inconsolata-bold-webfont.ttf') format('truetype'),
         url('/fonts/inconsolata-bold-webfont.svg#inconsolatabold') format('svg');
  font-weight: bold;
  font-style: normal;
}

body,
html {
  padding: 0;
  margin: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.eui {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: #DEE7FF;
  background-color: #000;
}

.eui,
.eui pre,
.eui code {
  font-family: inconsolata, mono;
}

.eui header {
  background-color: #4A4F5E;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 47px;
  line-height: 47px;
  border-bottom: 3px solid #34363B;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.eui header h1 {
  margin: 0;
  font-size: 1rem;
  font-weight: normal;
  padding-left: 1rem;
  color: #fff;
}

.eui aside {
  position: absolute;
  left: 0;
  bottom: 0;
  top: 50px;
  width: 401px;
  background-color: #4A4F5E;
  padding: 1rem;
  font-size: 0.8rem;
  line-height: 1.5em;
  overflow: auto;
  overflow-x: hidden;
  overflow-y: auto;
}

.eui aside h1:first-child,
.eui aside h2:first-child,
.eui aside p:first-child {
  margin-top: -8px;
}

.eui .solution-preview {
  background-color: #000;
  margin-bottom: 1rem;
}

.eui .submission-preview-wrap {
  position: absolute;
  left: 433px;
  right: 0;
  top: 50px;
  bottom: 0;
}

.eui-icons {
  list-style-type: none;
  position: absolute;
  top: 0;
  left: 383px;
  margin: 0;
  padding: 0;
}

.eui-icons.eui-icons-right {
  left: auto;
  right: -2px;
}

.eui-icons li {
  width: 48px;
  height: 47px;
  margin-right: 2px;
  background-color: #FFE169;
  float: left;
  cursor: pointer;
  border-bottom: 2px solid #DDB431;
  background-size: 48px 48px;
  background-position: 0 0;
}

.eui-icons li:active {
  border-bottom-width: 1px;
  border-top: 1px solid #34363B;
}

.eui-icons .eui-icon-green {
  background-color: #61FF90;
  border-bottom-color: #34D64F;
}

.eui-icons .eui-icon-test {
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxOC4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB2aWV3Qm94PSIwIDAgNDggNDgiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDQ4IDQ4IiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxwb2x5Z29uIG9wYWNpdHk9IjAuNyIgZmlsbD0iIzM0MzYzQiIgcG9pbnRzPSIxNi4zLDEzLjcgMTYuMywzNC4zIDMzLjUsMjQgIi8+DQo8L3N2Zz4NCg==");
}

.eui-icons .eui-icon-home {
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxOC4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB2aWV3Qm94PSIwIDAgNDggNDgiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDQ4IDQ4IiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxwYXRoIG9wYWNpdHk9IjAuNyIgZmlsbD0iIzM0MzYzQiIgZD0iTTI0LjYsMTIuNEwxMywyMi42aDIuOXYxMS42aDcuMnYtNC4zaDIuOXY0LjNoNy4yVjIyLjZoMi45TDI0LjYsMTIuNHoiLz4NCjwvc3ZnPg0K");
}

.eui-icons .eui-icon-edit {
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxOC4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB2aWV3Qm94PSIwIDAgNDggNDgiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDQ4IDQ4IiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxwYXRoIG9wYWNpdHk9IjAuNyIgZmlsbD0iIzM0MzYzQiIgZD0iTTM3LDExLjRjMC45LDAuOSwwLjksMi40LDAsMy4ybC0xLjEsMS4xbC0zLjItMy4ybDEuMS0xLjFDMzQuNiwxMC41LDM2LjEsMTAuNSwzNywxMS40eg0KCSBNMjAuNywyNC40bC0xLjEsNC4zbDQuMy0xLjFsMTAuOC0xMC44bC0zLjItMy4yTDIwLjcsMjQuNHogTTMxLjUsMjIuM3Y5LjlIMTYuMlYxNi44aDkuOWwzLjEtMy4xaC0xNnYyMS40aDIxLjR2LTE2TDMxLjUsMjIuM3oiLz4NCjwvc3ZnPg0K");
}

.eui-icons .eui-icon-view {
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxOC4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB2aWV3Qm94PSIwIDAgNDggNDgiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDQ4IDQ4IiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxnIG9wYWNpdHk9IjAuNyI+DQoJPGNpcmNsZSBmaWxsPSIjMzQzNjNCIiBjeD0iMjciIGN5PSIyNC43IiByPSIyIi8+DQoJPGNpcmNsZSBmaWxsPSIjMzQzNjNCIiBjeD0iMTkiIGN5PSIyNC43IiByPSIyIi8+DQoJPHBhdGggZmlsbD0iIzM0MzYzQiIgZD0iTTMzLDIwLjdoLTAuMmMwLTctNC43LTEwLTkuOC0xMGMtNS42LDAtMTAuNywzLjUtOS44LDExLjdjLTAuNywwLjctMS4yLDEuOC0xLjIsMy4xYzAsMS45LDEuOCwzLjUsMy4yLDQNCgkJYzAuNSwxLjUsMS40LDIuOCwyLjcsMy45YzAuMiwwLjIsMC40LDAuMiwwLjYsMC4yYzAuMywwLDAuNi0wLjEsMC44LTAuNGMwLjQtMC40LDAuMy0xLjEtMC4xLTEuNGMtMS4xLTEtMS45LTIuMS0yLjEtMy40DQoJCWMtMC4xLTAuNC0wLjUtMC44LTEtMC44Yy0wLjQsMC0yLTEuMS0yLTIuMmMwLTAuNSwwLjEtMC45LDAuMi0xLjJjMC4yLDAuMiwwLjUsMC4zLDAuOCwwLjNjMC42LDAsMS0wLjQsMS0xdi0xDQoJCWMwLTAuNiwwLjEtMS4zLDAuMy0xLjljMS40LTAuNSwyLjUsMC4zLDMuNy0zLjJjMS43LDUuMiw2LjMsMi4yLDkuNCwyLjFjMC40LDAuOSwwLjYsMS45LDAuNiwzLjF2MWMwLDAuNiwwLjQsMSwxLDF2Mi41DQoJCWMtMC40LDAuMy0wLjgsMC41LTEsMC41Yy0wLjUsMC0wLjksMC4zLTEsMC44Yy0wLjIsMC45LTAuNiwxLjctMS4yLDIuNWMtMC4zLDAuNC0wLjMsMS4xLDAuMSwxLjRjMC40LDAuNCwxLjEsMC4zLDEuNC0wLjENCgkJYzAuNy0wLjgsMS4xLTEuNywxLjQtMi43YzAuNS0wLjIsMS0wLjUsMS41LTAuOUgzM2MtMC41LDIuOC0yLjEsNC4xLTIuNCw0LjNjLTAuMywwLjEtMS44LDAuNy00LjgsMC44Yy0wLjItMS4xLTEuNC0yLTIuOC0yDQoJCWMtMS42LDAtMi44LDEtMi44LDIuM3MxLjMsMi4zLDIuOCwyLjNjMSwwLDEuOC0wLjQsMi4zLTFjNC4yLTAuMiw1LjktMSw2LjEtMS4xYzAuMS0wLjEsMi44LTEuOSwzLjMtNi4yYzAuNy0wLjUsMS4yLTEuNCwxLjItMi40DQoJCXYtMkMzNS45LDIyLDM0LjcsMjAuNywzMywyMC43eiIvPg0KPC9nPg0KPC9zdmc+DQo=");
}

.eui-icons .eui-icon-stop {
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxOC4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB2aWV3Qm94PSIwIDAgNDggNDgiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDQ4IDQ4IiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxnIG9wYWNpdHk9IjAuNyI+DQoJPHJlY3QgeD0iMTUuNCIgeT0iMTEuNiIgZmlsbD0iIzM0MzYzQiIgd2lkdGg9IjYuMyIgaGVpZ2h0PSIyMi40Ii8+DQoJPHJlY3QgeD0iMjYuMiIgeT0iMTEuNiIgZmlsbD0iIzM0MzYzQiIgd2lkdGg9IjYuMyIgaGVpZ2h0PSIyMi40Ii8+DQo8L2c+DQo8L3N2Zz4NCg==");
}

.eui-content h1,
.eui-content h2,
.eui-content h3 {
  font-weight: bolder;
  color: #fff;
}

.eui-content h1,
.eui-content h2 {
  margin-bottom: 3px;
  margin-top: 1rem;
  padding-bottom: 3px;
}

.eui-content h1 {
  border-bottom: 1px dotted rgba(255,255,255,0.5);
}

.eui-content h1 > code,
.eui-content h2 > code,
.eui-content h3 > code,
.eui-content p > code {
  font-style: italic;
}

.eui-content p,
.eui-content ul,
.eui-content ol {
  margin-bottom: 1rem;
}

.eui-content ul {
  list-style-type: none;
}

.eui-content ol {
  margin-left: 2rem;
}

.eui-content ul li:before {
  content: '* ';
  white-space: pre;
  font-weight: bolder;
  color: #fff;
}

.eui-content .def {
  border-bottom: 1px dotted rgba(255,255,255,0.5);
}

.eui-content .hljs-preprocessor {
  color: #FF6E57;
}

.eui-content .hljs-comment .def {
  border-bottom: none;
}

.eui-content .hljs-preprocessor .def {
  border-bottom: none;
}

.eui-content .hljs-number .def {
  border-bottom: none;
}

.eui-content .hljs-comment {
  color: #AAA;
}

.eui-content .hljs-keyword .def {
  border-bottom-color: rgba(255, 226, 95, 0.5);
}

.eui-content .hljs-keyword {
  color: #FFE25F;
}

.eui-content .hljs-number {
  color: #58FF8B;
}

.eui-content .hljs-literal {
  color: #FF6E57;
}

.eui-content pre {
  background-color: rgba(0, 0, 0, 0.25);
  line-height: 1.3em;
  margin: 1rem 0;
  margin-left: -1rem;
  padding: 1rem;
  width: 100%;
  font-size: 0.8rem;
}

.eui-content strong {
  color: #fff;
  font-weight: 800;
}

.eui-content a {
  text-decoration: none;
  color: #FFE169;
  border-bottom: 1px solid #FFE169;
}

.eui-tooltip {
  position: absolute;
  z-index: 999;
  font-size: 14px;
  text-transform: uppercase;
  background: #4A4F5E;
  border-radius: 3px;
  padding: 3px;
  text-align: center;
  width: 80px;
  -webkit-transform: translate(-50%, 2px);
  -ms-transform: translate(-50%, 2px);
  transform: translate(-50%, 2px);
  box-shadow: 0 2px 0 0 #34363B;
  border-left: 1px solid #34363B;
  border-right: 1px solid #34363B;
  border-bottom: 1px solid #34363B;
  line-height: 1.5em;
}

.eui-tooltip:before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #4A4F5E;
  position: absolute;
  top: 0;
  left: 37px;
  transform: translate(0, -100%);
}

.eui-reporter {
  position: absolute;
  top: 0;
  left: 1rem;
  transform: translate(0, -48px);
  visibility: hidden;
  color: #383B47;
  transition: transform 0.5s, visibility 0s 0.5s;
}

.eui-title {
  position: absolute;
  top: 0;
  left: 1rem;
  transform: translate(0, 0);
  visibility: visible;
  transition: transform 0.5s, visibility 0s;
}

.eui-matched .eui-reporter {
  transform: translate(0, 0);
  transition: transform 0.5s, visibility 0s;
  visibility: visible;
}

.eui-matched .eui-title {
  transform: translate(0, -48px);
  transition: transform 0.5s, visibility 0s 0.5s;
  visibility: hidden;
}

.eui-status {
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 1rem;
  width: 365px;
  height: 47px;
  background: #4A4F5E;
  border-bottom: 2px solid #34363B;
  opacity: 0;
  transition: opacity 0.5s, background-color 0.5s 0.1s, border-color 0.5s 0.1s;
}

.eui-matched .eui-status {
  opacity: 1;
}

.eui-matched-passed .eui-status {
  background: #61FF90;
  border-bottom-color: #34D64F;
}

.eui-matched-failed .eui-status {
  background: #FF6F5C;
  border-bottom-color: #C24332;
}

.eui-path {
  position: absolute;
  top: 0;
  left: 483px;
  width: calc(100% - 583px);
  -webkit-appearance: none;
  height: 46px;
  border: 0;
  margin: 0;
  padding: 14px;
  box-sizing: border-box;
  background: 0;
  font-family: inconsolata, mono;
  text-align: center;
  color: #DEE7FF;
}

.eui-path:focus {
  color: #fff;
  outline: 0;
}